parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    treatPhpDocTypesAsCertain: false
    doctrine:
        objectManagerLoader: phpstan-object-manager.php
    phpVersion: 80300
    parallel:
        maximumNumberOfProcesses: 1

